node_modules
__pycache__
.vscode
.idea
images/raw/cart.png
images/raw/image_278.png
images/raw/image_279.png
images/raw/image_280.png
images/raw/image_281.png
images/raw/image_282.png
images/raw/image1.png
images/raw/index.png
images/raw/index0.png
images/raw/index2.png
images/raw/index3.png
images/raw/index4.png
images/raw/login.png
images/raw/order.png
images/raw/product.png
images/raw/register.png
webhw.db
templates
static/css
static/js