body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
}

.breadcrumbs {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  background: #f5f5f5;
  color: #757575;
}

.breadcrumbs .sep {
  margin: 0 .5em;
  color: #b0b0b0;
}

.page-main {
  background: #f5f5f5;
  padding-bottom: 40px;
}

.order-box {
  padding: 36px 48px;
  background: #fff;
}

.box-header .title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 68px;
  color: #757575;
}

.box-header .filter {
  border-bottom: 0;
}

.box-header .filter-list {
  float: left;
  margin: 0;
  padding: 18px 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 1.25;
}

.box-header .filter-list li {
  float: left;
  padding: 0 20px;
  border-left: 1px solid #e0e0e0;
  color: #757575;
}

.box-header .filter-list li.first {
  padding-left: 0;
  border-left: 0;
}

.box-header .filter-list li.active a {
  color: #ff6700;
}

.box-header .filter-search {
  float: right;
  position: relative;
  width: 262px;
  height: 40px;
  margin-top: 8px;
}

.box-header input[type="search"] {
  box-sizing: content-box;
}

.box-header .search-text,
.box-header .search-btn {
  position: absolute;
  top: 0;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all .2s;
  height: 40px;
  line-height: 40px;
}

.box-header .search-text {
  right: 41px;
  z-index: 1;
  width: 189px;
  padding: 0 15px;
  font-size: 12px;
  color: #757575;
}

.box-header .search-btn {
  right: 0;
  z-index: 2;
  width: 42px;
  background: #fff;
  text-align: center;
  line-height: 52px;
  fill: #616161;
}

.box-header .search-btn svg {
  height: 22px;
  width: 22px;
}

.box-body .order-list {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.box-body .empty {
  margin: 40px 0;
  font-size: 18px;
  text-align: center;
  color: #b0b0b0;
}
