<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<!-- 页脚部分 -->
<div class="home-footer">
    <!-- 作者联系方式 -->
    <div class="site-footer">
        <div class="container">
            <div class="my-link clearfix">
                <ul>
                    <li>
                        <a href="//github.com/FrezCirno">
                            <svg viewBox="0 0 16 16" version="1.1" aria-hidden="true" height="30">
                                <path fill-rule="evenodd"
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg>
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="#2277861660">
                            <img src="{{ url_for('static',filename='image/qq.png') }}" height=30>
                            QQ
                        </a>
                    </li>
                    <li>
                        <a href="#invalid">
                            <img src="{{ url_for('static',filename='image/wx.png') }}" height=30>
                            微信
                        </a>
                    </li>
                    <li>
                        <a href="//www.weibo.com/goodtanhello">
                            <img src="{{ url_for('static',filename='image/wb.png') }}" height=30>
                            新浪微博
                        </a>
                    </li>
                    <li>
                        <a href="#invalid">
                            <img src="{{ url_for('static',filename='image/tg.jpg') }}" height=30>
                            Telegram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 页脚链接 -->
    <div class="site-info">
        <div class="container">
            <p class="sites">
                <a href="/index.html" target="_blank">济商城</a>
                <span class="sep">|</span>
                <a href="//www.tongji.edu.cn" target="_blank">同济大学</a>
                <span class="sep">|</span>
                <a href="//4m3.tongji.edu.cn" target="_blank">4m3</a>
                <span class="sep">|</span>
                <a href="//1.tongji.edu.cn" target="_blank">1tongji</a>
            </p>
            <p style="text-align: center;">
                备案信息
            </p>
        </div>
    </div>
</div>