.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12,
.span13,
.span14,
.span15,
.span16,
.span17,
.span18,
.span19,
.span20 {
    float      : left;
    margin-left: 14px;
    min-height : 1px
}

.span1 {
    width: 48px
}

.span2 {
    width: 110px
}

.span3 {
    width: 172px
}

.span4 {
    width: 234px
}

.span5 {
    width: 296px
}

.span6 {
    width: 358px
}

.span7 {
    width: 420px
}

.span8 {
    width: 482px
}

.span9 {
    width: 544px
}

.span10 {
    width: 606px
}

.span11 {
    width: 668px
}

.span12 {
    width: 730px
}

.span13 {
    width: 792px
}

.span14 {
    width: 854px
}

.span15 {
    width: 916px
}

.span16 {
    width: 978px
}

.span17 {
    width: 1040px
}

.span18 {
    width: 1102px
}

.span19 {
    width: 1164px
}

.span20 {
    width: 1226px
}